<footer class="border-top footer text-muted p-0 d-flex flex-row">
    <div class="container">
        &copy; 2021 - WebToDo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>